<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="img/apple.png" alt="apple logo" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Hasta Budiawan</h1>
            <p class="lead">Web Developer</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestiae harum laborum veniam? Amet, itaque eligendi laudantium ea omnis incidunt.</p>
        </div>
    </div>
</div>